#appointmentsTable {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#appointmentsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
}
#appointmentsTitle h3 {
  color: #339989;
}
#appointmentsTitle h2 {
  color: #014C35;
}

.appointmentRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.appointmentRow h4, .appointmentRow h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 120px;
}

#apointementsProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
}
#apointementsProfile div h6 {
  padding-left: 10px;
}

.appointmentsTableItem {
  width: 100px !important;
  height: 100px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #339989;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 0;
  margin: 10px !important;
  overflow: hidden;
}
.appointmentsTableItem h6 {
  line-height: 1.6;
  font-size: 9pt;
  margin: 0;
  padding: 0;
  color: white;
}
.appointmentsTableItem.empty {
  background-color: gray;
}
.appointmentsTableItem.consultation {
  background-color: #A1D1B0;
}
.appointmentsTableItem.operation {
  background-color: #6941C6;
}