@charset "UTF-8";
.menu {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  pointer-events: none;
  position: fixed;
  top: 80px;
  right: 1%;
  background-color: white;
  width: 300px;
  z-index: 999;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
}

/* Класс для отображения меню */
.menu.show {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}

#menuProfileDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#menuProfileDiv #name {
  font-weight: 500 !important;
}
#menuProfileDiv img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  border-radius: 50%;
}

#menuIcon {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 11px;
  padding: 10px 7px;
  background-color: white;
}
.menuItem img {
  margin-right: 15px;
  width: 40px;
}
.menuItem a {
  color: #000;
  text-decoration: none;
}
.menuItem a:hover {
  text-decoration: underline;
}
.menuItem.active {
  background-color: #6941C6;
}
.menuItem.active a {
  color: white;
  font-weight: 500;
}
.menuItem:hover {
  text-decoration: underline;
  background-color: #ececec;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}