<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
    <title>Index</title>
</head>
<body> 
        <div class="chat-container">
        <button class="fixedButton"><img src="static/images/chat.png" id="gptIcon" class="gptIcon logo" height="40px"></button>
        <div class="chat">
            <div class="chat-title">
                <figure class="avatar">
                    <img src="static/images/chatAvatar.jpg" />
                </figure>
                <div>
                    <h1>Medical Assistant</h1>
                    <h2>AI chat</h2>    
                </div>
                <button class="fixedButton" id="closeChatBtn" class="closeChatBtnImg"><img src="static/images/close.svg"  class="logo white"></button>
            </div>
            <div class="messages">
                <div class="messages-content"></div>
            </div>
            <div class="message-box">
                <textarea type="text" name="chat_input" class="message-input" placeholder="Type message..." style="overflow: hidden;"></textarea>
                <button type="submit" name="chat_send" class="message-submit"><img src="static/images/chatSendMessagePhoto.png"></button>
            </div>
        </div>
        </div>

</body>
</html>
