{% extends "base.html" %}
{% block title %}Список врачей{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='/scripts/dropdownTrigger.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sidebarTrigger.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/profileMenu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header2.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Doctor List</title>
</head>
<body class="container">
    <div class="sidebar">
        <div class="container row spacebtw">
            <h5 class="sidebarTitle">Фильтры</h5>
            <img src="static/images/closeBtn.svg" width="38px" height="38px" id="closeSidebarBtn">
        </div>

        <form>
            <div class="doctorsSpecialty marginTop20px">
                <div class="container row spacebtw">
                    <h5>специализация</h5>
                    <img src="static/images/dropdown.svg" id="doctorsSpecialtyDropdownImg" class="marginW10px">
                </div>
                <div id="doctorsSpecialtyDropdownList"  style="display: block;">
                    <div class="container row">
                        <input type="radio" class="radioBtn" name="specialty" value="Терапевт"/>
                        <label for="momolog">Терапевт</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="specialty" value="Хирург"/>
                        <label for="urolog">Хирург</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="specialty" value="Ортопед"/>
                        <label for="ginekolog">Ортопед</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="specialty" value="Кардиолог"/>
                        <label for="ginekolog">Кардиолог</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="specialty" value="Нарколог"/>
                        <label for="narcology">Нарколог</label>
                    </div>

                </div>
            </div>
            <div class="experience marginTop20px">
                <div class="container row spacebtw">
                    <h5>стаж</h5>
                    <img src="static/images/dropdown.svg" id="experienceDropdownImg" class="marginW10px">
                </div>
                <div id="experienceDropdownList"  style="display: block;">
                    <div class="container row">
                        <input type="checkbox" class="radioBtn" name="2days" value="2days"/>
                        <label for="2days">от 2 дней</label>
                    </div>

                    <div class="container row">
                        <input type="checkbox" class="radioBtn" name="1week" value="1week"/>
                        <label for="1week">от 1 недели</label>
                    </div>

                    <div class="container row">
                        <input type="checkbox" class="radioBtn" name="1month" value="1month"/>
                        <label for="1month">от 1 месяца</label>
                    </div>

                    <div class="container row">
                        <input type="checkbox" class="radioBtn" name="1year" value="1year"/>
                        <label for="1year">от 1 года</label>
                    </div>
                </div>
            </div>
            <div class="prices marginTop20px">
                <div class="container row spacebtw">
                    <h5>цены на консультацию</h5>
                    <img src="static/images/dropdown.svg" id="pricesDropdownImg" class="marginW10px">
                </div>
                <div id="pricesDropdownList"  style="display: block;">
                    <div class="container row">
                        <input type="radio" class="radioBtn" name="price" value="below30"/>
                        <label for="below30">до 30 BYN</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="price" value="30_50"/>
                        <label for="30_50">30 - 50 BYN</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="price" value="50_80"/>
                        <label for="50_80">50 - 80 BYN</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="price" value="above100"/>
                        <label for="above100">от 100 BYN</label>
                    </div>
                </div>
            </div>
            <div class="rating marginTop20px">
                <div class="container row spacebtw">
                    <h5>рейтинг</h5>
                    <img src="static/images/dropdown.svg" id="ratingDropdownImg" class="marginW10px">
                </div>
                <div id="ratingDropdownList"  style="display: block;">
                    <div class="container row">
                        <input type="radio" class="radioBtn" name="rating" value="5star"/>
                        <label for="5star">☆☆☆☆☆</label>
                    </div>

                    <div     class="container row">
                        <input type="radio" class="radioBtn" name="rating" value="4star"/>
                        <label for="4star">☆☆☆☆</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="rating" value="3star"/>
                        <label for="3star">☆☆☆</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="rating" value="2star"/>
                        <label for="2star">☆☆</label>
                    </div>

                    <div class="container row">
                        <input type="radio" class="radioBtn" name="rating" value="1star"/>
                        <label for="1star">☆</label>
                    </div>
                </div>
            </div>

            <button type="submit" id="sidebarSearchBtn">Показать врачей</button>
        </form>

    </div>

<!--    &lt;!&ndash; profile menu &ndash;&gt;-->
<!--    {% if current_user.patient or current_user.doctor %}-->
<!--    <div class="menu">-->
<!--        <div id="menuProfileDiv">-->
<!--            {% if current_user.patient %}-->
<!--                {% if current_user.patient.photo_path %}-->
<!--                    <img src="{{ url_for('uploaded_file', filename=current_user.patient.photo_path) }}" width="40px">-->
<!--                {% else %}-->
<!--                    <img src="static/images/profileLogo.svg" width="40px">-->
<!--                {% endif %}-->
<!--            {% else %}-->
<!--                {% if current_user.doctor.photo_path %}-->
<!--                    <img src="{{ url_for('uploaded_file', filename=current_user.doctor.photo_path) }}" width="40px">-->
<!--                {% else %}-->
<!--                    <img src="static/images/profileLogo.svg" width="40px">-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--            <div>-->
<!--                <h4 id="name">-->
<!--                    {% if current_user.patient %}-->
<!--                    <span>{{ current_user.patient.firstname }} {{ current_user.patient.surname }}</span>-->
<!--                    {% else %}-->
<!--                    <span>{{ current_user.doctor.firstname }} {{ current_user.doctor.surname }}</span>-->
<!--                    {% endif %}-->
<!--                <h5 id="email">{{ current_user.username }}</h5>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="menuItem active">-->
<!--            <img src="static/images/doctorsList.svg" width="40px">-->
<!--            <a>Наши специалисты</a>-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/appointments.svg" width="40px">-->
<!--            {% if current_user.patient %}-->
<!--                <a href="patient-appointments">Записи</a>-->
<!--            {% else %}-->
<!--                <a href="doctor_appointments">Записи</a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/navigation.png" width="40px">-->
<!--            <a href="navigation">Навигация по БЗ</a>-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/recommendation.png" width="40px">-->
<!--            <a href="recommendation">Рекомендации по здоровью</a>-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/blood_test.png" width="40px">-->
<!--            <a href="blood_test">Анализ крови</a>-->
<!--        </div>-->
<!--        {% if current_user.patient %}-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/medicalCard.png" width="40px">-->
<!--            <a href="medical-card">Медицинская карта</a>-->
<!--        </div>     -->
<!--        {% endif %} -->
<!--        -->
<!--    </div>-->
<!--    {% endif %}-->


    <div class="header container row padding100pxW spacebtw  marginTop40px">
        <div class="container row centerH" id="doctorListFilterContainer">
            <div class="container row small centerH"  id="doctorListFilterSubContainer">
                <img src="static/images/filter.png" width="40px" class="marginW10px" id="filterIcon">
                <h5 class="thin" id="titleBlack">Фильтры</h5>
            </div>
            <div class="container" id="doctorListSortContainer">
                <div class="container row" id="doctorListSortContainer">
                    <h5>
                        {% if request.args.get('sort_by') == 'rating' %}
                            <span>По рейтингу</span>
                        {% elif request.args.get('sort_by') == 'consultation_price' %}
                            <span>По цене</span>
                        {% elif request.args.get('sort_by') == 'experience_years' %}
                            <span>По стажу</span>
                        {% else %}
                            <span>По релевантности</span>
                        {% endif %}

                        {% if request.args.get('order') == 'asc' %}
                            <span> ▲</span>
                        {% elif request.args.get('order') == 'desc' %}
                            <span> ▼</span>
                        {% endif %}
                    </h5>
                    <img src="static/images/dropdown.svg" id="sortDropdownImg" class="marginW10px">
                </div>
                <div class="container" id="doctorListSortContainerDropdown">
                    {% if request.args.get('sort_by') %}
                    <button onclick="window.location.href = '{{ url_for('doctor_list') }}'">
                        <h5>По релевантности</h5>
                    </button>
                    {% endif %}

                    {% if request.args.get('order') == 'asc' %}
                        <button onclick="window.location.href = '{{ url_for('doctor_list', sort_by='rating', order='desc') }}'">
                            <h5>По рейтингу</h5><h5> ▼</h5>
                        </button>
                    {% else %}
                        <button onclick="window.location.href = '{{ url_for('doctor_list', sort_by='rating', order='asc') }}'">
                            <h5>По рейтингу</h5><h5> ▲</h5>
                        </button>
                    {% endif %}

                    {% if request.args.get('order') == 'asc' %}
                        <button onclick="window.location.href = '{{ url_for('doctor_list', sort_by='consultation_price', order='desc') }}'">
                            <h5>По цене</h5><h5> ▼</h5>
                        </button>
                    {% else %}
                        <button onclick="window.location.href = '{{ url_for('doctor_list', sort_by='consultation_price', order='asc') }}'">
                            <h5>По цене</h5><h5> ▲</h5>
                        </button>
                    {% endif %}

                    {% if request.args.get('order') == 'asc' %}
                        <button onclick="window.location.href = '{{ url_for('doctor_list', sort_by='experience_years', order='desc') }}'">
                            <h5>По стажу</h5><h5> ▼</h5>
                        </button>
                    {% else %}
                        <button onclick="window.location.href = '{{ url_for('doctor_list', sort_by='experience_years', order='asc') }}'">
                            <h5>По стажу</h5><h5> ▲</h5>
                        </button>
                    {% endif %}
                </div>
                <!-- Элементы управления для сортировки -->
                <!-- <div class="sorting">
                    <a href="{{ url_for('doctor_list', sort_by='rating', order='asc') }}">Sort by Rating ASC</a>
                    <a href="{{ url_for('doctor_list', sort_by='rating', order='desc') }}">Sort by Rating DESC</a>
                    <a href="{{ url_for('doctor_list', sort_by='experience_years', order='asc') }}">Sort by Experience ASC</a>
                    <a href="{{ url_for('doctor_list', sort_by='experience_years', order='desc') }}">Sort by Experience DESC</a>
                    <a href="{{ url_for('doctor_list', sort_by='consultation_price', order='asc') }}">Sort by Price ASC</a>
                    <a href="{{ url_for('doctor_list', sort_by='consultation_price', order='desc') }}">Sort by Price DESC</a>
                </div> -->
                <!-- <script>
                    function sortDoctors(sortBy, order) {
                        // Формируем URL-адрес с параметрами сортировки
                        var url = "{{ url_for('doctor_list') }}";
                        url += "?sort_by=" + sortBy + "&order=" + order;
                        // Перенаправляем пользователя на новый URL-адрес
                        window.location.href = url;
                    }
                </script> -->
            </div>
        </div>
        <div class="container row center" id="doctorsCount"><h5>{{ count }} врачей</h5></div>
        <div class="search-container">
          <form action="/search" method="get">
            <input type="text" placeholder="Search..." name="search">
              <i class="fa fa-search" style=" position: relative; left: -35px; "></i>
          </form>
        </div>
    </div>

    <div class="container marginTop40px" id="doctorListPageDoctors">
        {% for doctor in doctors.items %}
        <!-- Вывод информации о докторе -->
        <div class="container small centerItemsW marginRight70px" id="doctorCard">
            <img src="{{ url_for('uploaded_file', filename=doctor.photo_path) }}" id="doctorCardPhoto">
                <pre class="aboutDoctor" id="doctorName">{{ doctor.surname }}</pre>
                <pre class="aboutDoctor" id="doctorSurname">{{ doctor.firstname }} {{ doctor.patronymic }}</pre>
                <h6 class="aboutDoctor thin" id="doctorPosition">{{ doctor.practice_profile }}</h6>
        </div>
        {% endfor %}
    </div>

    <!-- Навигация по страницам -->
    <div class="pagination" >
        <a href="{{ url_for('doctor_list', page=doctors.prev_num, sort_by=request.args.get('sort_by'), order=request.args.get('order')) }}">&laquo;</a>
        {% for page_num in doctors.iter_pages() %}
            {% if page_num %}
                <a {% if page_num == doctors.page %}class="active" {% endif %}
                    href="{{ url_for('doctor_list', page=page_num, sort_by=request.args.get('sort_by'), order=request.args.get('order')) }}">{{ page_num }}</a>
            {% else %}
                <a style="pointer-events: none;
                cursor: default;
                color: inherit;
                text-decoration: none;" class="ellipsis">...</a>
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('doctor_list', page=doctors.next_num, sort_by=request.args.get('sort_by'), order=request.args.get('order')) }}">&raquo;</a>
    </div>    
</body>
<script>
    // Функция для сбора данных из формы и отправки запроса
    function submitForm() {
        // Собираем значения из формы
        var specialty = document.querySelector('input[name="specialty"]:checked').value;
        var experience = [];
        document.querySelectorAll('input[name^="experience"]:checked').forEach(function(checkbox) {
            experience.push(checkbox.value);
        });
        var prices = [];
        document.querySelectorAll('input[name^="price"]:checked').forEach(function(checkbox) {
            prices.push(checkbox.value);
        });
        var rating = document.querySelector('input[name="rating"]:checked').value;

        // Формируем URL-запрос
        var url = "/doctor_list?specialty=" + specialty +
                  '&experience=' + experience.join(',') +
                  '&prices=' + prices.join(',') +
                  '&rating=' + rating;

        // Отправляем запрос
        window.location.href = url;
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    // Функция для извлечения параметров из URL
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    // Извлекаем параметры из URL
    var specialty = getParameterByName('specialty');
    var experience = getParameterByName('experience');
    var price = getParameterByName('price');
    var rating = getParameterByName('rating');

    // Устанавливаем флажки для специализации
    if (specialty) {
        document.querySelector('input[name="specialty"][value="' + specialty + '"]').checked = true;
    }

    // Устанавливаем флажки для опыта
    if (experience) {
        document.querySelector('input[name="experience"][value="' + experience + '"]').checked = true;
    }

    // Устанавливаем флажки для цен
    if (price) {
        document.querySelector('input[name="price"][value="' + price + '"]').checked = true;
    }

    // Устанавливаем флажки для рейтинга
    if (rating) {
        document.querySelector('input[name="rating"][value="' + rating + '"]').checked = true;
    }

    document.querySelectorAll('.radioBtn').forEach(function(n) {
    n.addEventListener('click', this);
    }, function({ target: t }) {
    t.checked = !!(this[0] = this[0] === t ? null : t);
    }.bind([]));
});

</script>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        const dropdownBtn = document.getElementById("doctorListSortContainer");
        const dropdownImg = document.getElementById("sortDropdownImg");
        const dropdownList = document.getElementById("doctorListSortContainerDropdown");

        dropdownBtn.addEventListener("click", function() {
            if (dropdownList.style.display === "flex") {
                dropdownList.style.display = "none";
                dropdownImg.style.transform = "rotate(0deg)"; // Возвращаем изображение в исходное положение
            } else {
                dropdownList.style.display = "flex";
                dropdownList.style.alignItems = "flex-start";
                dropdownImg.style.transform =  "rotate(180deg)"; // Поворачиваем изображение
            }
        });
    });

</script> -->
<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Для специализации врачей
        const dropdownSpecialityImg = document.getElementById("doctorsSpecialtyDropdownImg");
        const dropdownSpecialityList = document.getElementById("doctorsSpecialtyDropdownList");
        const inputSpeciality = document.querySelectorAll("#doctorsSpecialtyDropdownList input[type='radio']");

        dropdownSpecialityImg.addEventListener("click", function() {
            if (dropdownSpecialityList.style.display === "block") {
                dropdownSpecialityList.style.display = "none";
                dropdownSpecialityImg.style.transform = "rotate(180deg)"; // Возвращаем изображение в исходное положение
                inputSpeciality.forEach(input => {
                    input.checked = false; // Обнуляем значение input при скрытии dropdown'а
                });
            } else {
                dropdownSpecialityList.style.display = "block";
                dropdownSpecialityImg.style.transform =  "rotate(0deg)"; // Поворачиваем изображение
            }
        });

        // Для опыта
        const experienceImg = document.getElementById("experienceDropdownImg");
        const dropdownExpreienceList = document.getElementById("experienceDropdownList");
        const inputExperience = document.querySelectorAll("#experienceDropdownList input[type='checkbox']");

        experienceImg.addEventListener("click", function() {
            if (dropdownExpreienceList.style.display === "block") {
                dropdownExpreienceList.style.display = "none";
                experienceImg.style.transform = "rotate(180deg)"; // Возвращаем изображение в исходное положение
                inputExperience.forEach(input => {
                    input.checked = false; // Обнуляем значение input при скрытии dropdown'а
                });
            } else {
                dropdownExpreienceList.style.display = "block";
                experienceImg.style.transform =  "rotate(0deg)"; // Поворачиваем изображение
            }
        });

        // Для цен
        const priceImg = document.getElementById("pricesDropdownImg");
        const dropdownPriceList = document.getElementById("pricesDropdownList");
        const inputPrices = document.querySelectorAll("#pricesDropdownList input[type='checkbox']");

        priceImg.addEventListener("click", function() {
            if (dropdownPriceList.style.display === "block") {
                dropdownPriceList.style.display = "none";
                priceImg.style.transform = "rotate(180deg)"; // Возвращаем изображение в исходное положение
                inputPrices.forEach(input => {
                    input.checked = false; // Обнуляем значение input при скрытии dropdown'а
                });
            } else {
                dropdownPriceList.style.display = "block";
                priceImg.style.transform =  "rotate(0deg)"; // Поворачиваем изображение
            }
        });

        // Для рейтинга
        const ratingImg = document.getElementById("ratingDropdownImg");
        const dropdownRatingList = document.getElementById("ratingDropdownList");
        const inputRating = document.querySelectorAll("#ratingDropdownList input[type='radio']");

        ratingImg.addEventListener("click", function() {
            if (dropdownRatingList.style.display === "block") {
                dropdownRatingList.style.display = "none";
                ratingImg.style.transform = "rotate(180deg)"; // Возвращаем изображение в исходное положение
                inputRating.forEach(input => {
                    input.checked = false; // Обнуляем значение input при скрытии dropdown'а
                });
            } else {
                dropdownRatingList.style.display = "block";
                ratingImg.style.transform =  "rotate(0deg)"; // Поворачиваем изображение
            }
        });
    });
</script> -->

<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        const menuBtn = document.querySelector("#menuIcon"); // Получаем изображение меню
        const menu = document.querySelector(".menu"); // Получаем само меню

        // Показываем или скрываем меню при нажатии на изображение меню
        menuBtn.addEventListener("click", function() {
            if (menu.style.display === "block") {
                menu.style.display = "none";
            } else {
                menu.style.display = "block";
            }
        });

        // Скрываем меню при нажатии вне его области
        document.addEventListener("click", function(event) {
            // Проверяем, что клик произошел не на изображении меню и не внутри самого меню
            if (event.target !== menuBtn && !menu.contains(event.target)) {
                menu.style.display = "none";
            }
        });
    });
</script> -->

<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        const closeSidebarBtn = document.querySelector("#closeSidebarBtn");
        const openSidebarBtn =  document.querySelector("#filterIcon");
        const sidebar = document.querySelector(".sidebar"); 
        // Показываем или скрываем меню при нажатии на изображение меню
        openSidebarBtn.addEventListener("click", function() {
            if (sidebar.style.display === "flex") {
                sidebar.style.display = "none";
            } else {
                sidebar.style.display = "flex";
            }
        });

        // Скрываем меню при нажатии вне его области
        document.addEventListener("click", function(event) {
            // Проверяем, что клик произошел не на изображении меню и не внутри самого меню
            if (event.target !== openSidebarBtn && !sidebar.contains(event.target)) {
                sidebar.style.display = "none";
            }
        });

        closeSidebarBtn.addEventListener("click", function(event) {
                sidebar.style.display = "none";
        });
    });
</script> -->


{% endblock %}
    