{% extends "base.html" %}
{% block title %}Записи{% endblock %}
{% block content %}
<div style="height: inherit;">
    <h1>Записи</h1>
    <h2>{{ current_user.doctor.firstname }} {{ current_user.doctor.surname }}</h2><br>
    <h3>{{ current_user.doctor.practice_profile }}</h3><br>
    <div style="border: 1px solid black; margin-bottom: 50px;">
        <h3>Режим работы:</h3>
        <form id="createAppointmentForm" action="/create-appointment" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}

            <div class="container row">
                <h4>Пн</h4>
                {% if monday %}
                    {{ form.monday_check(checked=True) }}
                    <h4>C</h4>
                    {{ form.monday_start_time(value=monday.start_time)}}
                    <h4>До</h4>
                    {{ form.monday_end_time(value=monday.end_time)}}
                    <h4>прод.(мин)</h4>
                    {{ form.monday_duration(value=monday.duration_minutes)}}
                {% else %}
                    {{ form.monday_check(checked=False) }}
                    <h4>C</h4>
                    {{ form.monday_start_time }}
                    <h4>До</h4>
                    {{ form.monday_end_time }}
                    <h4>прод.(мин)</h4>
                    {{ form.monday_duration }}
                {% endif %}
            </div>

            <!-- Продолжение для вторника -->
            <div class="container row">
                <h4>Вт</h4>
                {% if tuesday %}
                    {{ form.tuesday_check(checked=True) }}
                    <h4>C</h4>
                    {{ form.tuesday_start_time(value=tuesday.start_time)}}
                    <h4>До</h4>
                    {{ form.tuesday_end_time(value=tuesday.end_time)}}
                    <h4>прод.(мин)</h4>
                    {{ form.tuesday_duration(value=tuesday.duration_minutes)}}
                {% else %}
                    {{ form.tuesday_check(checked=False) }}
                    <h4>C</h4>
                    {{ form.tuesday_start_time }}
                    <h4>До</h4>
                    {{ form.tuesday_end_time }}
                    <h4>прод.(мин)</h4>
                    {{ form.tuesday_duration }}
                {% endif %}
            </div>

            <!-- Продолжение для среды -->
            <div class="container row">
                <h4>Ср</h4>
                {% if wednesday %}
                    {{ form.wednesday_check(checked=True) }}
                    <h4>C</h4>
                    {{ form.wednesday_start_time(value=wednesday.start_time)}}
                    <h4>До</h4>
                    {{ form.wednesday_end_time(value=wednesday.end_time)}}
                    <h4>прод.(мин)</h4>
                    {{ form.wednesday_duration(value=wednesday.duration_minutes)}}
                {% else %}
                    {{ form.wednesday_check(checked=False) }}
                    <h4>C</h4>
                    {{ form.wednesday_start_time }}
                    <h4>До</h4>
                    {{ form.wednesday_end_time }}
                    <h4>прод.(мин)</h4>
                    {{ form.wednesday_duration }}
                {% endif %}
            </div>

            <!-- Продолжение для четверга -->
            <div class="container row">
                <h4>Чт</h4>
                {% if thursday %}
                    {{ form.thursday_check(checked=True) }}
                    <h4>C</h4>
                    {{ form.thursday_start_time(value=thursday.start_time)}}
                    <h4>До</h4>
                    {{ form.thursday_end_time(value=thursday.end_time)}}
                    <h4>прод.(мин)</h4>
                    {{ form.thursday_duration(value=thursday.duration_minutes)}}
                {% else %}
                    {{ form.thursday_check(checked=False) }}
                    <h4>C</h4>
                    {{ form.thursday_start_time }}
                    <h4>До</h4>
                    {{ form.thursday_end_time }}
                    <h4>прод.(мин)</h4>
                    {{ form.thursday_duration }}
                {% endif %}
            </div>

            <!-- Продолжение для пятницы -->
            <div class="container row">
                <h4>Пт</h4>
                {% if friday %}
                    {{ form.friday_check(checked=True) }}
                    <h4>C</h4>
                    {{ form.friday_start_time(value=friday.start_time)}}
                    <h4>До</h4>
                    {{ form.friday_end_time(value=friday.end_time)}}
                    <h4>прод.(мин)</h4>
                    {{ form.friday_duration(value=friday.duration_minutes)}}
                {% else %}
                    {{ form.friday_check(checked=False) }}
                    <h4>C</h4>
                    {{ form.friday_start_time }}
                    <h4>До</h4>
                    {{ form.friday_end_time }}
                    <h4>прод.(мин)</h4>
                    {{ form.friday_duration }}
                {% endif %}
            </div>

            <!-- Продолжение для субботы -->
            <div class="container row">
                <h4>Сб</h4>
                {% if saturday %}
                    {{ form.saturday_check(checked=True) }}
                    <h4>C</h4>
                    {{ form.saturday_start_time(value=saturday.start_time)}}
                    <h4>До</h4>
                    {{ form.saturday_end_time(value=saturday.end_time)}}
                    <h4>прод.(мин)</h4>
                    {{ form.saturday_duration(value=saturday.duration_minutes)}}
                {% else %}
                    {{ form.saturday_check(checked=False) }}
                    <h4>C</h4>
                    {{ form.saturday_start_time }}
                    <h4>До</h4>
                    {{ form.saturday_end_time }}
                    <h4>прод.(мин)</h4>
                    {{ form.saturday_duration }}
                {% endif %}
            </div>

            <!-- Продолжение для воскресенья -->
            <div class="container row">
                <h4>Вс</h4>
                {% if sunday %}
                    {{ form.sunday_check(checked=True) }}
                    <h4>C</h4>
                    {{ form.sunday_start_time(value=sunday.start_time)}}
                    <h4>До</h4>
                    {{ form.sunday_end_time(value=sunday.end_time)}}
                    <h4>прод.(мин)</h4>
                    {{ form.sunday_duration(value=sunday.duration_minutes)}}
                {% else %}
                    {{ form.sunday_check(checked=False) }}
                    <h4>C</h4>
                    {{ form.sunday_start_time }}
                    <h4>До</h4>
                    {{ form.sunday_end_time }}
                    <h4>прод.(мин)</h4>
                    {{ form.sunday_duration }}
                {% endif %}
            </div>


<!--            {% for schedule in current_user.doctor.schedules %}-->
<!--                <div class="container row">-->
<!--                    <h4>Пн</h4>-->
<!--                    {% if schedule.weekday == 0 %}-->
<!--                        {{ form.monday_check(checked=True) }}-->
<!--                        <h4>C</h4>-->
<!--                        {{ form.monday_start_time(value=schedule.start_time)}}-->
<!--                        <h4>До</h4>-->
<!--                        {{ form.monday_end_time(value=schedule.end_time)}}-->
<!--                        <h4>прод.(мин)</h4>-->
<!--                        {{ form.monday_duration(value=schedule.duration_minutes)}}-->
<!--                    {% else %}-->
<!--                        {{ form.monday_check(checked=False) }}-->
<!--                        <h4>C</h4>-->
<!--                        {{ form.monday_start_time }}-->
<!--                        <h4>До</h4>-->
<!--                        {{ form.monday_end_time }}-->
<!--                        <h4>прод.(мин)</h4>-->
<!--                        {{ form.monday_duration }}-->
<!--                    {% endif %}-->

<!--                </div>-->

<!--                <div class="container row">-->
<!--                    <h4>Вт</h4>-->
<!--                    {% if schedule.weekday == 1 %}-->
<!--                        {{ form.tuesday_check(checked=True) }}-->
<!--                    {% else %}-->
<!--                        {{ form.tuesday_check(checked=False) }}-->
<!--                    {% endif %}-->
<!--                    <h4>C</h4>-->
<!--                    {{ form.tuesday_start_time }}-->
<!--                    <h4>До</h4>-->
<!--                    {{ form.tuesday_end_time }}-->
<!--                    <h4>прод.(мин)</h4>-->
<!--                    {{ form.tuesday_duration }}-->
<!--                </div>-->

<!--                <div class="container row">-->
<!--                    <h4>Ср</h4>-->
<!--                    {% if schedule.weekday == 2 %}-->
<!--                        {{ form.wednesday_check(checked=True) }}-->
<!--                    {% else %}-->
<!--                        {{ form.wednesday_check(checked=False) }}-->
<!--                    {% endif %}-->
<!--                    <h4>C</h4>-->
<!--                    {{ form.wednesday_start_time }}-->
<!--                    <h4>До</h4>-->
<!--                    {{ form.wednesday_end_time }}-->
<!--                    <h4>прод.(мин)</h4>-->
<!--                    {{ form.wednesday_duration }}-->
<!--                </div>-->

<!--                <div class="container row">-->
<!--                    <h4>Чт</h4>-->
<!--                    {% if schedule.weekday == 3 %}-->
<!--                        {{ form.thursday_check(checked=True) }}-->
<!--                    {% else %}-->
<!--                        {{ form.thursday_check(checked=False) }}-->
<!--                    {% endif %}-->
<!--                    <h4>C</h4>-->
<!--                    {{ form.thursday_start_time }}-->
<!--                    <h4>До</h4>-->
<!--                    {{ form.thursday_end_time }}-->
<!--                    <h4>прод.(мин)</h4>-->
<!--                    {{ form.thursday_duration }}-->
<!--                </div>-->

<!--                <div class="container row">-->
<!--                    <h4>Пт</h4>-->
<!--                    {% if schedule.weekday == 4 %}-->
<!--                        {{ form.friday_check(checked=True) }}-->
<!--                    {% else %}-->
<!--                        {{ form.friday_check(checked=False) }}-->
<!--                    {% endif %}-->
<!--                    <h4>C</h4>-->
<!--                    {{ form.friday_start_time }}-->
<!--                    <h4>До</h4>-->
<!--                    {{ form.friday_end_time }}-->
<!--                    <h4>прод.(мин)</h4>-->
<!--                    {{ form.friday_duration }}-->
<!--                </div>-->

<!--                <div class="container row">-->
<!--                    <h4>Сб</h4>-->
<!--                    {% if schedule.weekday == 5 %}-->
<!--                        {{ form.saturday_check(checked=True) }}-->
<!--                    {% else %}-->
<!--                        {{ form.saturday_check(checked=False) }}-->
<!--                    {% endif %}-->
<!--                    <h4>C</h4>-->
<!--                    {{ form.saturday_start_time }}-->
<!--                    <h4>До</h4>-->
<!--                    {{ form.saturday_end_time }}-->
<!--                    <h4>прод.(мин)</h4>-->
<!--                    {{ form.saturday_duration }}-->
<!--                </div>-->

<!--                <div class="container row">-->
<!--                    <h4>Вс</h4>-->
<!--                    {% if schedule.weekday == 6 %}-->
<!--                        {{ form.sunday_check(checked=True) }}-->
<!--                    {% else %}-->
<!--                        {{ form.sunday_check(checked=False) }}-->
<!--                    {% endif %}-->
<!--                    <h4>C</h4>-->
<!--                    {{ form.sunday_start_time }}-->
<!--                    <h4>До</h4>-->
<!--                    {{ form.sunday_end_time }}-->
<!--                    <h4>прод.(мин)</h4>-->
<!--                    {{ form.sunday_duration }}-->
<!--                </div>-->
<!--            {% endfor %}-->

            {{ form.submit(class="button") }}
        </form>
    </div>
    {% for appointment in appointments %}
    <div style="border: 1px solid black; margin-bottom: 50px;">
        <div class="container row">
            {% if appointment.patient %}
                <h4>Пациент:</h4>
                <div id="appointementDoctorPhotoApp">
                    <img id="appointementDoctorPhoto" src="{{ url_for('uploaded_file', filename=appointment.patient.photo_path) }}">
                </div>
                <h4 style="margin-left: 50px;">{{ appointment.patient.firstname }} {{ appointment.patient.surname }}</h4><br>
            {% else %}
                <h4>Запись:</h4>
            {% endif %}
            <div style="margin-left: 50px; margin-right: 50px;">
                <h4>{{ appointment.appointment_date_time.strftime('%d.%m.%Y') }}</h4>
                <h4 style="text-align: center">{{ appointment.appointment_date_time.strftime('%H:%M') }}</h4>
            </div>
        </div>
        {% if appointment.patient %}
            <h5 style="text-align: center">{{ appointment.patient.phone }}</h5>
            <textarea style="text-align: left" readonly>{{ appointment.appointment_details }}</textarea>
        {% else %}
            <button class="button" onclick="deleteAppointment('{{ appointment.id }}')">Удалить запись</button>
        {% endif %}
    </div>
    {% endfor %}
</div>

<!--<script>-->
<!--    function deleteAppointment(appointmentId) {-->
<!--    var xhr = new XMLHttpRequest();-->
<!--    var formData = new FormData();-->
<!--    formData.append('appointment_id', appointmentId);-->

<!--    xhr.open("DELETE", "/delete-appointment", true);-->

<!--    xhr.onload = function () {-->
<!--        if (xhr.status === 200) {-->
<!--            alert('Запись успешно удалена!');-->
<!--            location.reload();-->
<!--        } else {-->
<!--            const errors = JSON.parse(xhr.responseText);-->
<!--            let errorMessage = '';-->
<!--            for (const field in errors) {-->
<!--                errorMessage += `${field}: ${errors[field]}\n`;-->
<!--            }-->
<!--            alert('Произошла ошибка при удалении записи:\n' + errorMessage + 'Возможно стоит попробовать позже.');-->
<!--            location.reload();-->
<!--        }-->
<!--    };-->
<!--    xhr.send(formData);-->
<!--}-->
<!--</script>-->

<script>
    document.getElementById("createAppointmentForm").addEventListener("submit", function(event){
        event.preventDefault(); // Предотвращаем отправку формы
    
        // Отправляем запрос на сервер
        var formData = new FormData(this);
        fetch('/create-appointment', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                alert('Режим работы успешно сохранён!'); // Показываем сообщение об успехе
                location.reload();
            } else if (response.status === 400) {
                alert('Произошла ошибка при сохранении режима работы');
            } else if (response.status === 409) {
                alert('Произошла ошибка при сохранении режима работы');
            }
            else {
                response.json().then(errors => {
                    let errorMessage = '';
                    for (const field in errors) {
                        errorMessage += `${field}: ${errors[field]}\n`;
                    }
                    alert('Произошла ошибка при создании окна записи на прием:\n' + errorMessage + 'Возможно стоит попробовать позже.');
                });
            }
        })
        .catch(error => {
            console.error('Произошла ошибка:', error);
        });
    });
</script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Получаем все элементы формы
    var formElements = document.querySelectorAll('.container.row [id$=_check]');

    // Для каждого элемента формы
    formElements.forEach(function(element) {
        // Добавляем обработчик события изменения
        element.addEventListener('change', function() {
            // Получаем имя поля и его значение
            var fieldName = this.id.split('_')[0];
            var isChecked = this.checked;

            // Для каждого элемента поля времени и продолжительности
            ['start_time', 'end_time', 'duration'].forEach(function(suffix) {
                // Находим соответствующее поле
                var field = document.getElementById(fieldName + '_' + suffix);

                // Если поле найдено
                if (field) {
                    // Если чекбокс отмечен, добавляем атрибут required
                    if (isChecked) {
                        field.setAttribute('required', 'required');
                    } else {
                        // В противном случае удаляем атрибут required
                        field.removeAttribute('required');
                    }
                }
            });
        });
    });
});
</script>

{% endblock %}
