{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/calendar/vanilla-calendar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/css/splide.min.css">

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
    <script src="static/calendar/vanilla-calendar.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        window.addEventListener('scroll', function () {
            var gptIcon = document.getElementById('gptIcon');
            var scrollPosition = window.scrollY;

            // Use className instead of class
            // Also, set the correct classList values
            if (scrollPosition > 70) {
                gptIcon.classList.remove('white');
            } else {
                gptIcon.classList.add('white');
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const calendar = new VanillaCalendar('#calendar');
            calendar.init();
            document.getElementById("specialtySelection").classList.add("hidden");
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Добавляем обработчик событий для родительского элемента, используя делегирование
            document.addEventListener('click', function(event) {
                // Проверяем, была ли нажата кнопка с классом vanilla-calendar-day__btn
                if (event.target.classList.contains('vanilla-calendar-day__btn')) {
                    // Получаем значение data-calendar-day
                    var selectedDate = event.target.getAttribute('data-calendar-day');

                    // Выводим значение в консоль
                    // console.log("Выбранная дата:", selectedDate);

                    // Далее, вы можете использовать значение selectedDate и подставить его в нужное место в форме
                    // Например, для подстановки в поле с именем "date":
                    document.querySelector('input[name="date"]').value = selectedDate;
                    goBack();
                    document.getElementById("specialtySelection").classList.remove("hidden");
                }
            });
        });
    </script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      new Splide('#splide-container', {
        type       : 'carousel',
        perPage    : 1,
        pagination : false,
        focus      : 'center',
        breakpoints: {
          600: {
            perPage: 1,
          },
          800: {
            perPage: 1,
          },
        },
        drag: false,
      }).mount();
    });
  </script>



    <title>Index</title>
</head>
<body class="container">
    <div class="container padding100pxW" id="indexPage">
        <div class="container row spacebtw marginTop20px" id="indexPageHeader">
            <div class="container row small" id="headerLogo">
                <img src="static/images/logo.svg" width="40px" class="marginW30px">
                <a href="/index"  class="link"><h4 class="thin">Logoipsum</h4></a>
            </div>

            {% if current_user.is_authenticated %}
                {% if current_user.patient %}
                    <a href="/medical-card" class="link"><h4 class="thin">Медицинская карта</h4></a>
                    <a href="#" class="link"><h4 class="thin">Записи</h4></a>
                {% endif %}
            {% endif %}

            <a href="#" class="link"><h4 class="thin">Специалисты</h4></a>
            
            {% if current_user.is_authenticated %}
                {% if name and surname %}
                    <a href="/menu">
                        <div class="profile">
                            <div class="profileName">
                                <h5>{{ name }}</h5>
                                <h5>{{ surname }}</h5>
                            </div>
                                <!-- {% if current_user.patient.photo_path%}
                                    <img src="{{ url_for('uploaded_file', filename=current_user.patient.photo_path) }}">
                                {% else %}
                                    <img src="static/images/profileLogo.svg" width="40px" class="logo white">
                                {% endif %}

                                {% if current_user.doctor.photo_path%}
                                    <img src="{{ url_for('uploaded_file', filename=current_user.doctor.photo_path) }}">
                                {% else %}
                                    <img src="static/images/profileLogo.svg" width="40px" class="logo white">
                                {% endif %} -->
                                <img src="static/images/profileLogo.svg" width="40px" class="logo white">
                        </div>
                    </a>
                {% endif %}
                
            {% else %}
            <a href="/login" class="link"><h4 class="thin">Войти</h4></a>
            
            {% endif %}

</div>
        <div class="container fullHeight centerH flex-end padding100pxW" id="diagnosticsButtonDiv">
            <a class="diagnosticsButton">Диагностика</a>
        </div>
    </div>
    <div class="container padding100pxW indexDoctors">
        <h3 class="regular marginTop40px" style="text-decoration: underline;">Наши врачи</h3>

        <div class="container slider marginTop80px row center">
            <div class="splide" id="splide-container">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                                                <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container center" id="allDoctorsDiv">
            <a class="button" id="allDoctorsBtn">Все врачи</a>
        </div>
    </div>



    <div class="container big calendarDiv marginTop40px">
        <div id="calendar"></div>
        <div id="createAppointmentDiv" action="/assign-appointment" method="POST" class="container small">
            <div class="container row" id="apointementHeader">
                <img src="../static/images/backBtn.png" class="logo white hidden" onclick="goBack()" id="goBackBtn">
                <h2 class="container center white">Записаться</h2>
            </div>

            <!-- Выбор направления врача -->
            <div class="container center column spacebtw" id="specialtySelection">
                <h4 class="white">Выберите направление врача</h4>
                <div id="specialtySelectionSelector">
                    <!--
                    <button class="button" type="button" onclick="selectSpecialty('narcology')">Нарколог</button>
                    <button class="button" type="button" onclick="selectSpecialty('urologist')">Уролог</button>
                    <button class="button" type="button" onclick="selectSpecialty('protologist')">Проктолог</button>
                    -->

                </div>
            </div>

            <!-- Список врачей по выбранному направлению -->
            <div class="container hidden" id="doctorList">
                <h4 class="white">Выберите врача</h4>
                <div id="doctorLinks" class="container">
                    <!-- Ссылки на врачей будут добавлены динамически с помощью JavaScript -->
                </div>
            </div>

            <form id="assignAppointment" action="/assign-appointment" method="POST">

                {{ form.csrf_token }}
                {{ form.date(class="hidden", required="required", onchange="goBack()") }}
                <div class="container row hidden" id="doctorDetails">
                    <div id="appointementDoctorPhotoApp">
                        <img src="../static/images/doctorCardPhoto.jpg">
                    </div>
                    <div>
                        <h4 class="appointementDoctorData white thin" id="doctorFirstnameAppointement">Имя</h4>
                        <h4 class="appointementDoctorData white thin" id="doctorSurnameAppointement">Фамилия</h4>
                    </div>

                    <!-- Выбор времени и дополнительные элементы -->
                    <div class="container assignAppointmentTimePickerContainer hidden" id="timePickerContainer">
                        <style>
                            .assignAppointmentTimePicker option[value=""] {
                                display: none;
                            }
                        </style>

                        {{ form.time(class="assignAppointmentTimePicker", id="appt", required="required", onchange="addIcon()") }}
                    </div>

                    <!-- Детали записи -->
                </div>
                {{ form.appointment_details(class="hidden", placeholder="Детали записи", id="appointementTextArea") }}
                {{ form.submit(class="button hidden", id="submitAppointment") }}
            </form>
        </div>
    </div>



    <div class="chat-container">
        <button class="fixedButton"><img src="static/images/chat.png" id="gptIcon" class="gptIcon logo white" height="40px"></button>
        <div class="chat">
            <div class="chat-title">
                <figure class="avatar">
                    <img src="static/images/chatAvatar.jpg" />
                </figure>
                <div>
                    <h1>Medical Assistant</h1>
                    <h2>AI chat</h2>
                </div>
                <button class="fixedButton" id="closeChatBtn" class="closeChatBtnImg"><img src="static/images/close.svg" class="logo white"></button>
            </div>
            <div class="messages">
                <div class="messages-content"></div>
            </div>
            <div class="message-box">
                <textarea type="text" name="chat_input" class="message-input" placeholder="Type message..." style="overflow: hidden;"></textarea>
                <button type="submit" name="chat_send" class="message-submit"><img src="static/images/chatSendMessagePhoto.png"></button>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function() {
                $('#gptIcon').on('click', function() {
                    $('.chat').css('display', 'flex');
                    $('#gptIcon').css('display', 'none');
                });

                $('#closeChatBtn').on('click', function() {
                    $('.chat').css('display', 'none');
                    $('#gptIcon').css('display', 'block');
                });
            });

        var $messages = $('.messages-content'),
            i = 0;

        function setDate() {
            var d = new Date();
            $('<div class="timestamp">' + d.getHours() + ':' + d.getMinutes() + '</div>').appendTo($('.message:last'));
        }

        function insertMessage(msg) {
            if ($.trim(msg) == '') {
                return false;
            }
            $('<div class="message message-personal">' + msg + '</div>').appendTo($messages).addClass('new');
            setDate();
            $('.message-input').val(null);
            scrollChat(); // Прокручиваем при каждом сообщении
            setTimeout(function() {
                fakeMessage();
            }, 1000 + (Math.random() * 20) * 20);
        }

        $('.message-submit').click(function() {
            insertMessage($('.message-input').val());
        });

        $(window).on('keydown', function(e) {
            if (e.which == 13) {
                insertMessage($('.message-input').val());
                return false;
            }
        });

        var Fake = [
            'Hi there, I\'m AI Chat and you?',
            'Nice to meet you',
            'How are you?',
            'It\'s an example of an answer. I can\'t understand you',
            'Still can\'t',
            ':)'
        ];

        function fakeMessage() {
            if ($('.message-input').val() !== '') {
                return false;
            }
            $('<div class="message new">' + Fake[i] + '</div>').appendTo($messages).addClass('new');
            setDate();
            i++;
            scrollChat(); // Прокручиваем при каждом сообщении
        }

        function scrollChat() {
            var height = $messages[0].scrollHeight;
            $messages.stop().animate({ scrollTop: height }, 'slow');
        }

        // Initial fake message
        $(window).on('load', function() {
            setTimeout(function() {
                fakeMessage();
                scrollChat();
            }, 100);
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Создаем новый объект XMLHttpRequest
            var xhr = new XMLHttpRequest();

            // Открываем новый запрос GET к указанному URL-адресу
            xhr.open("GET", "/practice-profiles", true);

            // Отправляем запрос
            xhr.send();

            // Устанавливаем обработчик события "load" для запроса
            xhr.onload = function() {
                // Парсим полученный ответ в формате JSON
                var specialties = JSON.parse(xhr.responseText);

                // Получаем элемент specialtySelectionSelector
                var specialtySelection = document.getElementById("specialtySelectionSelector");

                // Перебираем каждую специальность и создаем кнопку для нее
                specialties.practice_profiles.forEach(function(specialty) {
                    var button = document.createElement("button");
                    button.classList.add("button");
                    button.setAttribute("type", "button");
                    button.setAttribute("onclick", "selectSpecialty('" + specialty + "')");
                    button.textContent = specialty;
                    specialtySelection.appendChild(button);
                });
            };
        });
    </script>

    <script>
        function selectSpecialty(specialty) {
            // Отправляем AJAX-запрос для получения списка врачей по выбранному направлению
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/doctors-by-specialty?specialty=" + specialty, true);
            xhr.send();

            xhr.onload = function() {
                if (xhr.status === 200) {
                    var doctors = JSON.parse(xhr.responseText);

                    // Заполняем список врачей
                    var doctorLinks = $("#doctorLinks");
                    doctorLinks.empty();

                    doctors.forEach(function (doctor) {
                        var doctorLink = $("<a>", {
                            id: specialty, // Use the specialty as the ID
                            class: "marginTop20px",
                            click: function () {
                                showDoctorDetails(doctor);
                            }
                        });

                        // Создаем контейнер с изображением, именем и фамилией
                        var container = $("<div>", {
                            class: "container row"
                        });

                        container.append($("<img>", {
                            src: "/uploads/" + doctor.photo_path,
                            id: "appointementDoctorPhoto"
                        }));

                        var detailsContainer = $("<div>");
                        detailsContainer.append($("<h4>", {
                            class: "appointementDoctorData white thin",
                            id: "doctorName",
                            text: doctor.firstname
                        }));
                        detailsContainer.append($("<h4>", {
                            class: "appointementDoctorData white thin",
                            id: "doctorSurname",
                            text: doctor.surname
                        }));

                        container.append(detailsContainer);
                        doctorLink.append(container);
                        doctorLinks.append(doctorLink);
                    });

                    // Переключаем видимость элементов
                    $("#specialtySelection").addClass("hidden");
                    $("#doctorList").removeClass("hidden");
                    $("#goBackBtn").removeClass("hidden");
                } else {
                    console.error("Ошибка при получении списка врачей");
                }
            };
        }

        function showDoctorDetails(doctor) {
            // Показываем подробную информацию о враче
            document.getElementById("doctorDetails").classList.remove("hidden");
            document.getElementById("doctorFirstnameAppointement").textContent = doctor.firstname;
            document.getElementById("doctorSurnameAppointement").textContent = doctor.surname;
            console.log(doctor.photo_path);
            
            // Создаем элемент изображения
            var img = document.createElement("img");
            img.src = "/uploads/" + doctor.photo_path;
            img.id = "appointementDoctorPhoto";

            // Очищаем содержимое контейнера перед добавлением нового изображения
            document.getElementById("appointementDoctorPhotoApp").innerHTML = '';
            
            // Добавляем изображение в контейнер
            document.getElementById("appointementDoctorPhotoApp").appendChild(img);

            // Дополнительный код для отображения деталей врача

            // Скрываем список врачей
            document.getElementById("doctorList").classList.add("hidden");
            document.getElementById("timePickerContainer").classList.remove("hidden");
            document.getElementById("appointementTextArea").classList.remove("hidden");
            document.getElementById("submitAppointment").classList.remove("hidden");
            document.getElementById("goBackBtn").classList.remove("hidden");

            document.getElementById("appointementTextArea").value = "";
            var form = document.getElementById('assignAppointment');
            var dateInput = form.querySelector('input[name="date"]');
            console.log(form);
            console.log(dateInput);
            console.log(dateInput.value);

            // Делаем запрос для получения списка занятого времени
            fetch('/appointments/available-doctor-time?doctor_id=' + doctor.id + '&date=' + dateInput.value)
                .then(response => {
                    if (!response.ok) {
                        response.json().then(errors => {
                            let errorMessage = '';
                            for (const field in errors) {
                                errorMessage += `${field}: ${errors[field]}\n`;
                            }
                            alert('Произошла ошибка\n' + errorMessage);
                            goBack();
                            throw new Error('Network response was not ok' + errorMessage);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    // Обрабатываем полученные данные
                    console.log(data);

                    // Получаем ссылку на элемент <select> по его идентификатору
                    var selectElement = document.getElementById('appt');
                    selectElement.innerHTML = '';
                    selectElement.disabled = true;

                    // Получаем данные о назначениях
                    var appointmentsData = data;

                    var doctorId = document.createElement('input');
                    doctorId.classList.add("hidden");
                    doctorId.name = 'doctor_id'
                    doctorId.value = doctor.id;
                    form.appendChild(doctorId);
                    
                    // Извлекаем из данных время назначения и добавляем в <select>
                    appointmentsData.appointments.forEach(function(appointment) {
                        var appointmentDateTime = new Date(appointment.appointment_date_time);
                        var appointmentTime = appointmentDateTime.getUTCHours().toString().padStart(2, '0') + ':' + appointmentDateTime.getUTCMinutes().toString().padStart(2, '0');
                        selectElement.disabled = false;
                        // Создаем новый элемент <option>
                        var optionElement = document.createElement('option');
                        optionElement.value = appointmentTime + ':00';
                        console.log(optionElement.value);
                        optionElement.textContent = appointmentTime;
                        // optionElement.disabled = true; // Предполагается, что это время уже занято
                        // Добавляем новый элемент <option> в <select>
                        selectElement.appendChild(optionElement);
                    });
                    // Возможно, здесь вы захотите что-то сделать с полученным списком времени
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }

        function goBack() {
            // Здесь вы можете добавить код для возврата к выбору врача или специальности
            // В данном примере просто скрываем подробные детали врача
            $("#specialtySelection").removeClass("hidden");
            $("#doctorDetails").addClass("hidden");
            $("#doctorList").addClass("hidden");
            $("#timePickerContainer").addClass("hidden");
            $("#submitAppointment").addClass("hidden");
            $("#appointementTextArea").addClass("hidden");
            $("#goBackBtn").addClass("hidden");
        }
    </script>

    <script>
        document.getElementById("assignAppointment").addEventListener("submit", function(event){
            event.preventDefault(); // Предотвращаем отправку формы
        
            // Отправляем запрос на сервер
            var formData = new FormData(this);
            fetch('/assign-appointment', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.ok) {
                    alert('Вы успешно записаны на прием!'); // Показываем сообщение об успехе
                    goBack();
                } else {
                    response.json().then(errors => {
                        let errorMessage = '';
                        for (const field in errors) {
                            errorMessage += `${field}: ${errors[field]}\n`;
                        }
                        alert('Произошла ошибка при записи на прием:\n' + errorMessage + 'Возможно стоит попробовать позже.');
                        goBack();
                    });
                }
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
        });
    </script>


            
     <!-- <script>
        // Пример массива с занятыми временными интервалами
        var busyTimes = ["09:15", "10:30", "14:45"];
    
        // Получаем элемент select
        var select = document.getElementById('appt');
    
        // Устанавливаем обработчик события change
        select.addEventListener('change', function () {
            // Проверяем, выбрано ли занятое время
            if (busyTimes.includes(select.value)) {
                alert('Это время уже занято. Пожалуйста, выберите другое время.');
                select.value = ''; // Сбрасываем выбранное значение
            }
        });
    </script> -->
</body>
<footer class="container medium center marginTop80px">
    <div class="container">
        <h4>Logo</h4>
        <div class="container row spacebtw marginTop20px" id="contacts">
            <div class= "container contactsCard row">
                <img src="static/images/phone.png" height="50px">
                <div class="contactsCardData">
                    <h5>Телефон</h5>
                    <h5>293-86-16</h5>
                </div>
            </div>
            <div class= "container contactsCard row">
                <img src="static/images/mail.png" height="50px">
                <div class="contactsCardData">
                    <h5>Mail</h5>
                    <h5>medassistant@gmail.com</h5>
                </div>
            </div>
            <div class= "container contactsCard row">
                <img src="static/images/location.png" height="50px">
                <div class="contactsCardData">
                    <h5>Адрес</h5>
                    <h5>г. Минск, ул. Платонова, 39</h5>
                </div>
            </div>
            <div class= "container contactsCard row">
                <img src="static/images/fax.png" height="50px">
                <div class="contactsCardData">
                    <h5>Факс</h5>
                    <h5>+1-000-0000</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container row spacebtw marginTop40px" id="footerItems">

        <div class="container footerItem">
            <h4>Услуги</h4>
            <div class="container footerItemData">
                <a href="#" class="thin">Онлайн чат</a>
                <a href="#" class="thin">Диагностика</a>
                <a href="#" class="thin">Записи</a>
                <a href="/medical-card" class="thin">Медицинская карта</a>
            </div>
        </div>

        <div class="container footerItem">
            <h4>Колл-центр</h4>
            <h5>пн-пт 8:00-22:00</h5>
            <h5>сб-вс 9:00-20:00</h5>
            <a href="tel:29-321-68-71"  class="thin">a1: 29-321-68-71</a>
            <a href="tel:33-321-68-71"  class="thin">life: 33-321-68-71</a>
            <a href="tel:25-321-68-71"  class="thin">mts: 25-321-68-71</a>
        </div>

        <div class="container footerItem ">
            <h4>Коммерческие предложения</h4>
            <div class="container footerItemData">
                <a href="tel:321-68-71"  class="thin">тел: 321-68-71</a>
                <a href="#"  class="thin">email: medassistant@offers.com</a>
            </div>
        </div>
    </div>

    <div class="create-line marginTop80px"></div>
    <div class="container row spacebtw marginTop10px" style="margin-bottom: 30px;">
        <div class="container row">
            <!-- <a href="#" class="marginW30px">Услуги</a>
            <a href="#" class="marginW30px">Специалисты</a>
            <a href="#" class="marginW30px">О нас</a>
            <a href="#" class="marginW30px">Связаться с нами</a> -->
        </div>
        <div class="small"><h5 style="color: gray;">© 2024, Все права защищены</h5></div>
    </div>
</footer>
{% endblock %}
    