{% extends "base.html" %}
{% block title %}Главная{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="r{{ url_for('static', filename='style.css') }}">
    <link href="static/calendar/vanilla-calendar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/css/splide.min.css">

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.0.9/dist/js/splide.min.js"></script>
    <script src="static/calendar/vanilla-calendar.min.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        window.addEventListener('scroll', function () {
            var gptIcon = document.getElementById('gptIcon');
            var scrollPosition = window.scrollY;

            // Use className instead of class
            // Also, set the correct classList values
            if (scrollPosition > 70) {
                gptIcon.classList.remove('white');
            } else {
                gptIcon.classList.add('white');
            }
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const calendar = new VanillaCalendar('#calendar');
            calendar.init();
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Добавляем обработчик событий для родительского элемента, используя делегирование
            document.addEventListener('click', function(event) {
                // Проверяем, была ли нажата кнопка с классом vanilla-calendar-day__btn
                if (event.target.classList.contains('vanilla-calendar-day__btn')) {
                    // Получаем значение data-calendar-day
                    var selectedDate = event.target.getAttribute('data-calendar-day');

                    // Выводим значение в консоль
                    // console.log("Выбранная дата:", selectedDate);

                    // Далее, вы можете использовать значение selectedDate и подставить его в нужное место в форме
                    // Например, для подстановки в поле с именем "date":
                    document.querySelector('input[name="date"]').value = selectedDate;
                }
            });
        });
    </script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      new Splide('#splide-container', {
        type       : 'carousel',
        perPage    : 1,
        pagination : false,
        focus      : 'center',
        breakpoints: {
          600: {
            perPage: 1,
          },
          800: {
            perPage: 1,
          },
        },
        drag: false,
      }).mount();
    });
  </script>



    <title>Index</title>
</head>
<body class="container">
    <div class="container padding100pxW" id="indexPage">
        <div class="container row spacebtw marginTop20px" id="indexPageHeader">
            <div class="container row small">
                <img src="static/images/logo.svg" width="40px" class="marginW30px">
                <a href="/index"  class="link"><h4 class="thin">Logoipsum</h4></a>
            </div>

            {% if patient %}
            <a href="/medical_card" class="link"><h4 class="thin">Медицинская карта</h4></a>
            {% endif %}

            <a href="#" class="link"><h4 class="thin">Записи</h4></a>
            <a href="#" class="link"><h4 class="thin">Специалисты</h4></a>

            {% if name and surname %}
            <a href="#profile">
                <div class="profile">
                    <div class="profileName">
                        <h5>{{ name }}</h5>
                        <h5>{{ surname }}</h5>
                    </div>
                    <img src="static/images/profileLogo.svg" width="40px" class="logo white">
                </div>
            </a>

            {% else %}
            <a href="/login" class="link"><h4 class="thin">Войти</h4></a><!-- Выводим кнопку "Войти" -->

            {% endif %}

</div>
        <div class="container fullHeight centerH flex-end padding100pxW">
            <a class="diagnosticsButton">Диагностика</a>
        </div>
    </div>
    <div class="container indexDoctors padding100pxW">
        <h3 class="regular marginTop40px" style="text-decoration: underline;">Наши врачи</h3>

        <div class="container slider marginTop80px row center">
            <div class="splide" id="splide-container">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                                                <li class="splide__slide">
                            <div class="container small centerItemsW marginRight70px" id="doctorCard">
                                <img src="static/images/doctorCardPhoto.jpg" id="doctorCardPhoto">
                                <div class="container medium faded"  id="doctorCardData">
                                    <h5 class="aboutDoctor thin" id="doctorPosition">Нарколог</h5>
                                    <h4 class="aboutDoctor" id="doctorName">Олег</h4>
                                    <h4 class="aboutDoctor" id="doctorSurname">Олегов</h4>
                                    <h5 class="aboutDoctor thin" id="doctorScientificDegree">Кандидат наук</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container center" id="allDoctorsDiv">
            <a class="button" id="allDoctorsBtn">Все врачи</a>
        </div>
    </div>


    
    <div class="container big calendarDiv marginTop40px">
        <div id="calendar"></div>
        <div id="createAppointmenDiv" action="/createAppointment" method="POST" class="container small">
            <div class="container row" id="apointementHeader">
                <img src="../static/images/backBtn.png" class="logo white hidden" onclick="goBack()" id="goBackBtn">
                <h2 class="container center white">Записаться</h2>
            </div>
        
            <!-- Выбор направления врача -->
            <div class="container center column spacebtw" id="specialtySelection">
                <h4 class="white">Выберите направление врача</h4>
                <div id="specialtySelectionSelector">
                    <button class="button" type="button" onclick="selectSpecialty('narcology')">Нарколог</button>
                    <button class="button" type="button" onclick="selectSpecialty('urologist')">Уролог</button>
                    <button class="button" type="button" onclick="selectSpecialty('protologist')">Проктолог</button>

                </div>
            </div>
        
            <!-- Список врачей по выбранному направлению -->
            <div class="container hidden" id="doctorList">
                <h4 class="white">Выберите врача</h4>
                <div id="doctorLinks" class="container">
                    <!-- Ссылки на врачей будут добавлены динамически с помощью JavaScript -->
                </div>
            </div>
        
            <form id="createAppointment" action="/createAppointment" method="POST">
                <input type="text" name="date" class="hidden" required="required">
                <div class="container row hidden" id="doctorDetails">
                    <img src="../static/images/doctorCardPhoto.jpg" id="appointementDoctorPhoto">
                    <div>
                        <h4 class="appointementDoctorData white thin" id="doctorName">Олегов</h4>
                        <h4 class="appointementDoctorData white thin" id="doctorSurname">Олег</h4>
                    </div>
            
                    <!-- Выбор времени и дополнительные элементы -->
                    <div class="container createAppointmentTimePickerContainer hidden" id="timePickerContainer">
                        <style>
                            .createAppointmentTimePicker option[value=""] {
                                display: none;
                            }
                        </style>
            
                        <select class="createAppointmentTimePicker" id="appt" name="appt" required onchange="addIcon()">
                            <!-- Добавляем значение по умолчанию -->
                            <option value="" disabled selected>🕑 --:--</option>
                            <!-- Вставьте интервал времени с учетом 15-минутного шага -->
                            <option value="09:00">09:00</option>
                            <option value="09:15" disabled>09:15 (занято)</option>
                            <option value="09:30">09:30</option>
                            <option value="09:45">09:45</option>
                            <!-- ... (дополните интервалы по аналогии) ... -->
                            <option value="18:00">18:00</option>
                        </select>
                    </div>
            
                    <!-- Детали записи -->
                </div>
                <textarea class="hidden" name="appointment_details" placeholder="Детали записи" id="appointementTextArea"></textarea>
                <button type="submit" class="button hidden" id="submitAppointment">Записаться</button>
            </form>
        </div>        
    </div>      

   

    <div class="chat-container">
        <button class="fixedButton"><img src="static/images/chat.png" id="gptIcon" class="gptIcon logo white" height="40px"></button>
        <div class="chat">
            <div class="chat-title">
                <figure class="avatar">
                    <img src="static/images/chatAvatar.jpg" />
                </figure>
                <div>
                    <h1>Medical Assistant</h1>
                    <h2>AI chat</h2>
                </div>
                <button class="fixedButton" id="closeChatBtn" class="closeChatBtnImg"><img src="static/images/close.svg" class="logo white"></button>
            </div>
            <div class="messages">
                <div class="messages-content"></div>
            </div>
            <div class="message-box">
                <textarea type="text" name="chat_input" class="message-input" placeholder="Type message..." style="overflow: hidden;"></textarea>
                <button type="submit" name="chat_send" class="message-submit"><img src="static/images/chatSendMessagePhoto.png"></button>
            </div>
        </div>
    </div>

    <script>
            $(document).ready(function() {
                $('#gptIcon').on('click', function() {
                    $('.chat').css('display', 'flex');
                    $('#gptIcon').css('display', 'none');
                });

                $('#closeChatBtn').on('click', function() {
                    $('.chat').css('display', 'none');
                    $('#gptIcon').css('display', 'block');
                });
            });

        var $messages = $('.messages-content'),
            i = 0;

        function setDate() {
            var d = new Date();
            $('<div class="timestamp">' + d.getHours() + ':' + d.getMinutes() + '</div>').appendTo($('.message:last'));
        }

        function insertMessage(msg) {
            if ($.trim(msg) == '') {
                return false;
            }
            $('<div class="message message-personal">' + msg + '</div>').appendTo($messages).addClass('new');
            setDate();
            $('.message-input').val(null);
            scrollChat(); // Прокручиваем при каждом сообщении
            setTimeout(function() {
                fakeMessage();
            }, 1000 + (Math.random() * 20) * 20);
        }

        $('.message-submit').click(function() {
            insertMessage($('.message-input').val());
        });

        $(window).on('keydown', function(e) {
            if (e.which == 13) {
                insertMessage($('.message-input').val());
                return false;
            }
        });

        var Fake = [
            'Hi there, I\'m AI Chat and you?',
            'Nice to meet you',
            'How are you?',
            'It\'s an example of an answer. I can\'t understand you',
            'Still can\'t',
            ':)'
        ];

        function fakeMessage() {
            if ($('.message-input').val() !== '') {
                return false;
            }
            $('<div class="message new">' + Fake[i] + '</div>').appendTo($messages).addClass('new');
            setDate();
            i++;
            scrollChat(); // Прокручиваем при каждом сообщении
        }

        function scrollChat() {
            var height = $messages[0].scrollHeight;
            $messages.stop().animate({ scrollTop: height }, 'slow');
        }

        // Initial fake message
        $(window).on('load', function() {
            setTimeout(function() {
                fakeMessage();
                scrollChat();
            }, 100);
        });
    </script>

    <script>
        function selectSpecialty(specialty) {
            // console.log(specialty);
            // Здесь можно отправить AJAX-запрос для получения списка врачей по выбранному направлению
            // В примере добавлены фиктивные данные
            var doctors = {
                "narcology": [
                    { name: "Виталий", surname: "Витальев" },
                    { name: "Олег", surname: "Олегов" },
                ],
                "urologist": [
                    { name: "Александр", surname: "Александров" },
                    { name: "Никита", surname: "Никитов" },
                ],
                "protologist": [
                    { name: "Александр", surname: "Александрович" },
                ]
            };
    
            // Заполняем список врачей
            var doctorLinks = $("#doctorLinks");
            doctorLinks.empty();
    
            doctors[specialty].forEach(function (doctor) {
                var doctorLink = $("<a>", {
                    id: specialty, // Use the specialty as the ID
                    class: "marginTop20px",
                    click: function () {
                        showDoctorDetails(doctor);
                    }
                });
    
                // Create the container with image, name, and surname
                var container = $("<div>", {
                    class: "container row"
                });
    
                container.append($("<img>", {
                    src: "../static/images/doctorCardPhoto.jpg",
                    id: "appointementDoctorPhoto"
                }));
    
                var detailsContainer = $("<div>");
                detailsContainer.append($("<h4>", {
                    class: "appointementDoctorData white thin",
                    id: "doctorName",
                    text: doctor.name
                }));
                detailsContainer.append($("<h4>", {
                    class: "appointementDoctorData white thin",
                    id: "doctorSurname",
                    text: doctor.surname
                }));
    
                container.append(detailsContainer);
                doctorLink.append(container);
                doctorLinks.append(doctorLink);
            });
    
            // Переключаем видимость элементов
            $("#specialtySelection").addClass("hidden");
            $("#doctorList").removeClass("hidden");
            $("#goBackBtn").removeClass("hidden");
        }
    
        function showDoctorDetails(doctor) {
            // Здесь вы можете добавить код для отображения подробной информации о враче
            // console.log("Selected doctor:", doctor);
    
            // Пример: Показать детали выбранного врача
            $("#doctorDetails").removeClass("hidden");
            $("#doctorName").text("Имя: " + doctor.name);
            $("#doctorSurname").text("Фамилия: " + doctor.surname);
    
            // Дополнительный код для отображения деталей врача
    
            // Скрываем список врачей
            $("#doctorList").addClass("hidden");
            $("#timePickerContainer").removeClass("hidden");
            $("#appointementTextArea").removeClass("hidden");
            $("#submitAppointment").removeClass("hidden");
            $("#goBackBtn").removeClass("hidden");
        }
    
        function goBack() {
            // Здесь вы можете добавить код для возврата к выбору врача или специальности
            // В данном примере просто скрываем подробные детали врача
            $("#specialtySelection").removeClass("hidden");
            $("#doctorDetails").addClass("hidden");
            $("#doctorList").addClass("hidden");
            $("#timePickerContainer").addClass("hidden");
            $("#submitAppointment").addClass("hidden");
            $("#appointementTextArea").addClass("hidden");
            $("#goBackBtn").addClass("hidden");
        }
    </script>
            
    <script>
        // Пример массива с занятыми временными интервалами
        var busyTimes = ["09:15", "10:30", "14:45"];
    
        // Получаем элемент select
        var select = document.getElementById('appt');
    
        // Устанавливаем обработчик события change
        select.addEventListener('change', function () {
            // Проверяем, выбрано ли занятое время
            if (busyTimes.includes(select.value)) {
                alert('Это время уже занято. Пожалуйста, выберите другое время.');
                select.value = ''; // Сбрасываем выбранное значение
            }
        });
    </script>
</body>
<footer class="container medium center marginTop80px">
    <div class="container">
        <h4>Logo</h4>
        <div class="container row spacebtw marginTop20px">
            <div class= "container contactsCard row">
                <img src="static/images/phone.png" height="50px">
                <div class="contactsCardData">
                    <h5>Телефон</h5>
                    <h5>293-86-16</h5>
                </div>
            </div>
            <div class= "container contactsCard row">
                <img src="static/images/mail.png" height="50px">
                <div class="contactsCardData">
                    <h5>Mail</h5>
                    <h5>medassistant@gmail.com</h5>
                </div>
            </div>
            <div class= "container contactsCard row">
                <img src="static/images/location.png" height="50px">
                <div class="contactsCardData">
                    <h5>Адрес</h5>
                    <h5>г. Минск, ул. Платонова, 39</h5>
                </div>
            </div>
            <div class= "container contactsCard row">
                <img src="static/images/fax.png" height="50px">
                <div class="contactsCardData">
                    <h5>Факс</h5>
                    <h5>+1-000-0000</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container row spacebtw marginTop40px">

        <div class="container footerItem">
            <h4>Услуги</h4>
            <div class="container footerItemData">
                <a href="#" class="thin">Онлайн чат</a>
                <a href="#" class="thin">Диагностика</a>
                <a href="#" class="thin">Записи</a>
                <a href="/medical_card" class="thin">Медицинская карта</a>
            </div>
        </div>

        <div class="container footerItem">
            <h4>Колл-центр</h4>
            <h5>пн-пт 8:00-22:00</h5>
            <h5>сб-вс 9:00-20:00</h5>
            <a href="tel:29-321-68-71"  class="thin">a1: 29-321-68-71</a>
            <a href="tel:33-321-68-71"  class="thin">life: 33-321-68-71</a>
            <a href="tel:25-321-68-71"  class="thin">mts: 25-321-68-71</a>
        </div>

        <div class="container footerItem ">
            <h4>Коммерческие предложения</h4>
            <div class="container footerItemData">
                <a href="tel:321-68-71"  class="thin">тел: 321-68-71</a>
                <a href="#"  class="thin">email: medassistant@offers.com</a>
            </div>
        </div>
    </div>

    <div class="create-line marginTop80px"></div>
    <div class="container row spacebtw marginTop10px" style="margin-bottom: 30px;">
        <div class="container row">
            <!-- <a href="#" class="marginW30px">Услуги</a>
            <a href="#" class="marginW30px">Специалисты</a>
            <a href="#" class="marginW30px">О нас</a>
            <a href="#" class="marginW30px">Связаться с нами</a> -->
        </div>
        <div class="small"><h5 style="color: gray;">© 2024, Все права защищены</h5></div>
    </div>
</footer>
{% endblock %}
    