{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<body class="login">
    <div class="container center marginTop80px" id="loginDiv">
        <div>
            <h1 id="loginTitle">Добро пожаловать!</h1>
        </div>
        <div class="container small padding25px spacebtw lightBlueBG rounded">
            <div class="container center">
                <form action="/login" class="container" method="POST">
                    <input type="text" name="username" placeholder="Адрес электронной почты">
                    <input type="password" name="password" placeholder="Пароль">
                    <input type="submit" class="button wide" value="Войти">
                </form>
                {% if error and request.method == 'POST' %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endif %}
                <div class="create-line-left-right marginTop20px">
                    <p class="gray thin">или</p>
                </div>
                <h5 class="gray thin">Впервые у нас? <a href="/register">Зарегистрироваться</a></h5>
            </div>
        </div>
    </div>
</body>
{% endblock %}