
        <!-- profile menu -->
        {% if current_user.patient or current_user.doctor %}
        <div class="menu">
            <div id="menuProfileDiv">
                {% if current_user.patient %}
                    {% if current_user.patient.photo_path %}
                        <img src="{{ url_for('uploaded_file', filename=current_user.patient.photo_path) }}" width="40px">
                    {% else %}
                        <img src="static/images/profileLogo.svg" width="40px">
                    {% endif %}
                {% else %}
                    {% if current_user.doctor.photo_path %}
                        <img src="{{ url_for('uploaded_file', filename=current_user.doctor.photo_path) }}" width="40px">
                    {% else %}
                        <img src="static/images/profileLogo.svg" width="40px">
                    {% endif %}
                {% endif %}
                <div>
                    <h4 id="name">
                        {% if current_user.patient %}
                        <span>{{ current_user.patient.firstname }} {{ current_user.patient.surname }}</span>
                        {% else %}
                        <span>{{ current_user.doctor.firstname }} {{ current_user.doctor.surname }}</span>
                        {% endif %}
                    <h5 id="email">{{ current_user.username }}</h5>
                </div>
            </div>
            <div class="menuItem">
                <img src="static/images/doctorsList.svg" width="40px"  style="filter: invert(1);">
                <a href="doctor_list">Наши специалисты</a>
            </div>
            <div class="menuItem">
                <img src="static/images/appointments.svg" width="40px">
                {% if current_user.patient %}
                    <a href="patient-appointments">Записи</a>
                {% else %}
                    <a href="doctor_appointments">Записи</a>
                {% endif %}
            </div>
            <div class="menuItem">
                <img src="static/images/navigation.png" width="40px">
                <a href="navigation">Навигация по БЗ</a>
            </div>
            <div class="menuItem">
                <img src="static/images/recommendation.png" width="40px">
                <a href="recommendation">Рекомендации по здоровью</a>
            </div>
            <div class="menuItem active">
                <img src="static/images/blood_test.png" width="40px">
                <a href="blood_test">Анализ крови</a>
            </div>
            {% if current_user.patient %}
            <div class="menuItem">
                <img src="static/images/medicalCard.png" width="40px">
                <a href="medical-card">Медицинская карта</a>
            </div>
            {% endif %}
            {% if current_user %}
            <div class="menuItem">
                <img src="static/images/history.png" width="40px">
                <a href="diagnostic_history">История диагностик</a>
            </div>
            {% endif %}
            {% if current_user %}
            <div class="menuItem">
                <img src="static/images/logout.png" width="40px">
                <a href="logout">Выход</a>
            </div>
            {% endif %}
    
        </div>
        {% endif %}