{% extends "base.html" %}
{% block title %}Список врачей{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/patient_appointments_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/profileMenu.css') }}">


    <title>Записи</title>
</head>
<body class="container marginTop120px">
<!--       -->
<!--    &lt;!&ndash; profile menu &ndash;&gt;-->
<!--    {% if current_user.patient or current_user.doctor %}-->
<!--    <div class="menu">-->
<!--        <div id="menuProfileDiv">-->
<!--            {% if current_user.patient %}-->
<!--                {% if current_user.patient.photo_path %}-->
<!--                    <img src="{{ url_for('uploaded_file', filename=current_user.patient.photo_path) }}" width="40px">-->
<!--                {% else %}-->
<!--                    <img src="static/images/profileLogo.svg" width="40px">-->
<!--                {% endif %}-->
<!--            {% else %}-->
<!--                {% if current_user.doctor.photo_path %}-->
<!--                    <img src="{{ url_for('uploaded_file', filename=current_user.doctor.photo_path) }}" width="40px">-->
<!--                {% else %}-->
<!--                    <img src="static/images/profileLogo.svg" width="40px">-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--            <div>-->
<!--                <h4 id="name">-->
<!--                    {% if current_user.patient %}-->
<!--                    <span>{{ current_user.patient.firstname }} {{ current_user.patient.surname }}</span>-->
<!--                    {% else %}-->
<!--                    <span>{{ current_user.doctor.firstname }} {{ current_user.doctor.surname }}</span>-->
<!--                    {% endif %}-->
<!--                <h5 id="email">{{ current_user.username }}</h5>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/doctorsList.svg" width="40px"  style="filter: invert(1);">-->
<!--            <a href="doctor_list">Наши специалисты</a>-->
<!--        </div>-->
<!--        <div class="menuItem  active">-->
<!--            <img src="static/images/appointments.svg" width="40px">-->
<!--            {% if current_user.patient %}-->
<!--                <a href="patient-appointments">Записи</a>-->
<!--            {% else %}-->
<!--                <a href="doctor_appointments">Записи</a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/navigation.png" width="40px">-->
<!--            <a href="navigation">Навигация по БЗ</a>-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/recommendation.png" width="40px">-->
<!--            <a href="recommendation">Рекомендации по здоровью</a>-->
<!--        </div>-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/blood_test.png" width="40px">-->
<!--            <a href="blood_test">Анализ крови</a>-->
<!--        </div>-->
<!--        {% if current_user.patient %}-->
<!--        <div class="menuItem">-->
<!--            <img src="static/images/medicalCard.png" width="40px">-->
<!--            <a href="medical-card">Медицинская карта</a>-->
<!--        </div>     -->
<!--        {% endif %} -->
<!--           -->
<!--    </div>-->
<!--    {% endif %}-->
   


    <div class="container center">
        <div id="appointmentsTitle">
            <h3>Мои записи "{{ current_user.patient.surname }} {{ current_user.patient.firstname }}"</h3>
        </div>
    </div>

    <div class="appointments">
        {% for appointment in patient_appointments %}
            <div class="appointment">
                <div id="apointementsItem">
                    <div class="container row">
                        <img id="patient_appointments_doctor_photo" src="{{ url_for('uploaded_file', filename=appointment.doctor.photo_path) }}" width="200px">
                        <div id="apointementData">
                            <h3>{{ appointment.doctor.surname }} {{ appointment.doctor.firstname }}</h3>
                            <div id="date-time">
                                <h3>{{ appointment.appointment_date_time.strftime('%d.%m.%Y') }}</h3> <!-- Вывод только даты в формате 'год-месяц-день' -->
                                <h3>{{ appointment.appointment_date_time.strftime('%H:%M') }}</h3> <!-- Вывод только даты в формате 'год-месяц-день' -->

                            </div>
                        </div>
                    </div>

                    <h5 id="details">Примечания: {{ appointment.appointment_details }}</h5>

                    <button class="button" onclick="cancelAppointment('{{ appointment.id }}')">Отменить запись</button>

                </div>    
            </div>
        {% endfor %}

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuBtn = document.querySelector("#menuIcon"); // Получаем изображение меню
            const menu = document.querySelector(".menu"); // Получаем само меню

            // Показываем или скрываем меню при нажатии на изображение меню
            menuBtn.addEventListener("click", function() {
                if (menu.style.display === "block") {
                    menu.style.display = "none";
                } else {
                    menu.style.display = "block";
                }
            });

            // Скрываем меню при нажатии вне его области
            document.addEventListener("click", function(event) {
                // Проверяем, что клик произошел не на изображении меню и не внутри самого меню
                if (event.target !== menuBtn && !menu.contains(event.target)) {
                    menu.style.display = "none";
                }
            });
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const closeSidebarBtn = document.querySelector("#closeSidebarBtn");
            const openSidebarBtn =  document.querySelector("#filterIcon");
            const sidebar = document.querySelector(".sidebar"); 
            // Показываем или скрываем меню при нажатии на изображение меню
            openSidebarBtn.addEventListener("click", function() {
                if (sidebar.style.display === "flex") {
                    sidebar.style.display = "none";
                } else {
                    sidebar.style.display = "flex";
                }
            });

            // Скрываем меню при нажатии вне его области
            document.addEventListener("click", function(event) {
                // Проверяем, что клик произошел не на изображении меню и не внутри самого меню
                if (event.target !== openSidebarBtn && !sidebar.contains(event.target)) {
                    sidebar.style.display = "none";
                }
            });

            closeSidebarBtn.addEventListener("click", function(event) {
                    sidebar.style.display = "none";
            });
        });
    </script>
<script>
    function cancelAppointment(appointmentId) {
    var xhr = new XMLHttpRequest();
    var formData = new FormData();
    formData.append('appointment_id', appointmentId);

    xhr.open("PUT", "/cancel-appointment", true);

    xhr.onload = function () {
        if (xhr.status === 200) {
            alert('Запись успешно отменена!');
            location.reload();
        } else {
            const errors = JSON.parse(xhr.responseText);
            let errorMessage = '';
            for (const field in errors) {
                errorMessage += `${field}: ${errors[field]}\n`;
            }
            alert('Произошла ошибка при отмене записи:\n' + errorMessage + 'Возможно стоит попробовать позже.');
            location.reload();
        }
    };
    xhr.send(formData);
}
</script>

</body>
{% endblock %}
