@import "consts.scss";

#appointmentsTable{
    margin-top: 20px;

    display: flex;
    flex-direction: column;
}

#appointmentsTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;

    h3{
        color: $mint;
    }

    h2{
        color: $dark_green;
    }
}


.appointmentRow{
    display: flex;
    flex-direction: row;

    h4, h5{
        display: flex;
        justify-content: center;
        align-self: center;
        // margin: 20px;
        width: 120px;
    }
}

#apointementsProfile{
    display: flex;
    flex-direction: row;

    padding-top: 10px;

    div{
        h6{
            padding-left: 10px;
        }
    }
}



.appointmentsTableItem{
    width: 100px !important;
    height: 100px !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $mint;


    border: 1px solid gray;
    border-radius: 10px;

    padding: 0;
    margin: 10px !important;
    overflow: hidden;
    h6{
        line-height:1.6;
        font-size: 9pt;
        margin: 0;
        padding: 0;
        color: white;
    }

    &.empty {
		background-color: gray;
	}

    &.consultation {
        background-color: $light_green;
    }

    &.operation{
        background-color: $purple;
    }
}
